.header {
  display: flex;
  padding-left: 8px;
  height: 48px;
  align-items: center;
  background-color: var(--primary-main);
}

.headerLink {
  color: white;
  text-decoration: none;
}

.headerLink :visited {
  color: white;
  text-decoration: none;
}